# Data Cleaning of 2016 Q3/Q4 Datasets

In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
# This will ignore the warnings
import warnings
warnings.filterwarnings("ignore")

# Our temporal data types
from datetime import datetime
from datetime import timedelta

t2016Q4 = pd.read_excel('2016_Bike_Share_Toronto_Ridership_Q4.xlsx',\
                    names=['trip_id','start','end','duration','from','to','user_type'])

t2016Q3 = pd.read_excel('2016_Bike_Share_Toronto_Ridership_Q3.xlsx',
                       names=['trip_id','start','end','duration','from','to','user_type'])

In [30]:
t2016Q4.set_index(['trip_id'],inplace=True)

In [31]:
t2016Q4['start'] = pd.to_datetime(t2016Q4['start'])
t2016Q3['start'] = pd.to_datetime(t2016Q3['start'])

In [32]:
t2016Q4['end'] = pd.to_datetime(t2016Q4['end'])
t2016Q3['end'] = pd.to_datetime(t2016Q3['end'])

In [33]:
t2016Q4.head()

,start,end,duration,from,to,user_type
trip_id,,,,,,
462305,2016-01-10 00:00:00,2016-01-10 00:07:00,394,Queens Quay W / Dan Leckie Way,Fort York Blvd / Garrison Rd,Casual
462306,2016-01-10 00:00:00,2016-01-10 00:09:00,533,Sherbourne St / Wellesley St,Edward St / Yonge St,Member
462307,2016-01-10 00:00:00,2016-01-10 00:07:00,383,Queens Quay W / Dan Leckie Way,Fort York Blvd / Garrison Rd,Casual
462308,2016-01-10 00:01:00,2016-01-10 00:27:00,1557,Cherry St / Distillery Ln,Fort York Blvd / Capreol Crt,Casual
462309,2016-01-10 00:01:00,2016-01-10 00:27:00,1547,Cherry St / Distillery Ln,Fort York Blvd / Capreol Crt,Casual

In [45]:
#Finding relative indices in our dataframe
start_index = t2016Q4.index[0]
offset = 15000

original_start_time = t2016Q4['start'][start_index]
print("original start time =",original_start_time)
new_index = start_index + offset
new_start_time = t2016Q4['start'][new_index]
print("new_start_time =",new_start_time)

original start time = 2016-01-10 00:00:00
new_start_time = 2016-04-10 21:22:00

In [66]:
#Cleaning the data using a function called data_cleaning()
def data_cleaning(didx, cidx, dtime):
    month = dtime.dt.month
    day = dtime.dt.day
    
    if (month < 10 or month > 12) or \
    (month == 10 and (day == 11 or day == 12) and ) or \
    (month == 11 and (day == 10 or day == 12)) or \
    (month == 12 and (day == 10 or day == 11)):
        day, month = swap(day,month)
    

def swap(day,month):
    temp = day
    day = month
    month = day
    return day, month

for idx, item in t2016Q4['start']:
    #pass in current index as well as an index
    #that's 15000 rows from current index
    offset = 15000
    comp_idx = idx + offset
    comp_item = t2016Q4[]
    data_cleaning(idx, comp_idx, item)

trip_id
462305   2016-01-10 00:00:00
462306   2016-01-10 00:00:00
462307   2016-01-10 00:00:00
462308   2016-01-10 00:01:00
462309   2016-01-10 00:01:00
Name: start, dtype: datetime64[ns]

In [ ]:
#For start times of Q4 - Clean the datetime values (Modified code from Stackoverflow)
mask = (pd.PeriodIndex(t2016Q4['start'],freq='Q') != '2016Q4') #get all values that are not within the 
                                                                #2016 Q4 range
s = pd.DatetimeIndex(t2016Q4.loc[mask,'start'].dt.strftime('%Y-%d-%m %H:%M:%S'))
t2016Q4.loc[mask,'start'] = pd.to_datetime(s)
t2016Q4.start.head()

In [ ]:
#For end times of Q4 - Clean the datetime values
mask = (pd.PeriodIndex(t2016Q4['end'],freq='Q') != '2016Q4')
s = pd.DatetimeIndex(t2016Q4.loc[mask,'end'].dt.strftime('%Y-%d-%m %H:%M:%S'))
t2016Q4.loc[mask,'end'] = pd.to_datetime(s)
t2016Q4.end.head()

In [ ]:
#For start times of Q3 - Clean the datetime values
mask = (pd.PeriodIndex(t2016Q3['start'],freq='Q') != '2016Q3') #get all values that are not within the 
                                                                #2016 Q4 range
s = pd.DatetimeIndex(t2016Q3.loc[mask,'start'].dt.strftime('%Y-%d-%m %H:%M:%S')) #
t2016Q3.loc[mask,'start'] = pd.to_datetime(s)
t2016Q3.start.head()

In [ ]:
#For end times of Q3 - Clean the datetime values
mask = (pd.PeriodIndex(t2016Q3['end'],freq='Q') != '2016Q3')
s = pd.DatetimeIndex(t2016Q3.loc[mask,'end'].dt.strftime('%Y-%d-%m %H:%M:%S'))
t2016Q3.loc[mask,'end'] = pd.to_datetime(s)
t2016Q3.end.head()

In [ ]:
anomaly = t2016Q3[t2016Q3.start.dt.year == 2000]
anomaly
t2016Q3.drop(anomaly.index, axis='rows',inplace=True)
t2016Q3.info()

In [ ]:
(t2016Q3[t2016Q3.start.dt.year == 2000])